<h1>プランのお申し込みありがとうございます</h1>

<h5><%= @business_name %> 様<br></h5>
<%= @email %><br>
お申し込みプラン：<%= @plan %><br>
<p>担当からご連絡させていただきますのでお待ちください</p>
<br>
<br>
<br>
<p>お問い合わせは以下メールアドレスへお願いします</p>
<p>株式会社トライハッチ</p>
<p>support@tryhatch.co.jp</p>