<%= render 'shared/notification' %>
<div class="row m-4"></div>

<div class="container">
    <div class="row">
        <div class="border shadow col-md-12" style="padding: 1em;">
            <div class="thanks_container">
                <h3>お見積り書のダウンロードありがとうございます</h3><br>
                <div class="thanks_box"><br>
                    弊社にて内容を確認の上、２営業日以内にご連絡いたします。<br>
                    メールが届かない場合は、迷惑メールに振り分けられていないかをご確認いただけますと幸いです。<br>どのフォルダにも届かない場合は sales@tryhatch.co.jp
                    宛にメールをいただけますと幸いです。
                </div>
                <a href="<%= root_path %>" class="btn btn-primary" role="button">TOPへ戻る</a>
            </div>
        </div>
    </div>
</div>