/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Verdana, 'ヒラギノ角ゴ Pro W6';
}

.nav-link{
  color: white;
}

p {
    font-family: 'メイリオ';
}

.navbar {
    font-family: 'ヒラギノ角ゴ Pro W6';
}

h4 {
    background: linear-gradient(transparent 70%, #33CCCC 0%);
}

p.right-calc {
    border-bottom: 1px solid #33CCCC;
}
.notification {
  position: fixed;
  top: 40px;
  right: 0;
  width: 30%;
  margin: 8px;
  padding: 16px;
  z-index: 999;
  background-color: transparent;
}
.alert {
  border-radius: 3px;
}
.alert h4 {
  font-weight: 600;
}
.alert .icon {
  margin-right: 10px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  border-color: #008d4c;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}
.select-payment-type{
  margin: 0 2em;
  display: none;
}
.terms_box{
  margin-top: 4em;
}
.thanks_box{
  border: double #33CCCC;
  padding: 3em;
}
.thanks_container{
   padding: 5em;
   a{
     margin: 2em 15em;
     display:block;
   }
}
.price-list{
  padding-left:1em;
}