/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
    font-family: Verdana, 'ヒラギノ角ゴ Pro W6';
}

.container-fluid {
  padding: 0px!important;
}

.nav-link{
  color: white;
}

p {
  font-family: 'メイリオ';
}

.navbar {
  font-family: 'ヒラギノ角ゴ Pro W6';
}

h4 {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #00a23f;
  white-space: nowrap;
}

h1 {
  white-space: nowrap;
}

h5.right-calc {
    border-bottom: 1px solid #00a23f;
}

.notification {
  position: fixed;
  top: 40px;
  right: 0;
  width: 30%;
  margin: 8px;
  padding: 16px;
  z-index: 999;
  background-color: transparent;
}
.alert {
  border-radius: 3px;
}
.alert h4 {
  font-weight: 600;
}
.alert .icon {
  margin-right: 10px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  border-color: #008d4c;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}
.select-payment-type{
  margin: 0 2em;
  display: none;
}
.terms_box{
  margin-top: 4em;
}
.thanks_box{
  border: double #09c9b5;
  padding: 3em;
}
.thanks_container{
  padding: 5em;
  a{
    margin: 2em 15em;
    display:block;
  }
}
.price-list{
  padding-left: 1em;
}

.mt-4 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-1 {
  margin-top: 1px;
}

.ml-1 {
  margin-left: 1px;
} 

ul {
  list-style: none;
}

.form-check {
  white-space: nowrap;
  padding-left: 0rem!important;
}

.meocheki_options {
  display: none;
}

.bold {
  font-weight: bold;
}

.bg-meo {
  color: white;
  background-color: #0ac9b5!important;
}

.card-header h4{
  border-bottom: none;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  overflow: hidden;
}

.option-group  {
  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  label {
    padding:10px 0;
  }
  span:hover {
    cursor:pointer;
    background-color: #96f7bb;
    color: black;
  }
  input[type="checkbox"] + span {
    display: block;
    color: #00a23f;
    font-weight: normal;
    border: 1px solid #00a23f;
    border-radius: 0.5rem;
    padding: 0.2rem 0.3rem;
  }
  input[type="checkbox"]:checked + span{
    background-color: #00a23f;
    color: #FFF;
  }
  input{
    position: absolute;
    opacity: 0;
  }
  hr {
    margin: 5px 0px;
  }
}

.wrap {
  white-space: pre!important;
}

dt {
  float: left ;
  clear: right ;
  margin-right: 0.5em ;
}

dd {
  float: right ;
  font-size: 1.1rem;
  font-weight: bold;
}
ul#feature  {
  padding-left: 0 ;
  color: #00a23f;
}

.meo-theme-color {
  font-size: 3rem;
  color:#00a23f;
  margin: 0rem 0.5rem;
}

.txt-center {
  text-align: center;
}

span .bold{
  font-weight: bold;
}

label.contact_form {
  font-size: 1rem;
}

.col-md-8 {
  margin-right: 10px!important;
  margin-left: 30px!important;
  padding-left: 20px!important ;
}

.col-md-3 {
  // margin-right: 5px!important;
  margin-left:  10px!important;
}

.page-title-lv1 {
  background-color: rgba(112, 243, 230, 0.5);
  padding-top: 1.1rem;
  padding-bottom: 0.2rem;
  h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 12px;
  }
  p {
    font-weight: bold;
    color: #616161;
    margin-bottom: 5px;
    margin-left: 12px;
    font-size: 1rem;
    
  }
}

.page-title-lv2 {
  margin-top: 1.2rem;
  margin-left: 12px;
  margin-right: 12px;
  span {
    margin-left: 12px;
    margin-right: 12px;
  }
  h4 {
    color:#00a23f;
    font-weight: bold;
  }
}
.simulator-box {
  background-color:#f1f1f1;
}

.section-container-lv1 {
  padding: 78px 0 80px;
  min-width: 990px;
  text-align: center;
  overflow: hidden;
}

.title-lv1 {
  font-size: 250%;
  line-height: 1.3;
  font-weight: bold;
  h1 {
    color: #000;
    text-align: center;
  }
}

.title-lv2 {
  h2 {
    font-weight: bold;
    font-size: 200%!important;
    line-height: 1.3125;
  }
 
}

.section-lv1 {
  padding-top: 78px;
}

.box-text-01 {
  padding: 0 25px;
}

.icon {
  width: 80px;
  height: 80px;
}

.item-lv1 {
  border-bottom: 1px solid gray;
}

.inquiry-form {
  padding: 1rem 0;
  width: 75vw!important;
}

.inquiry-box {
  background-color: #F5F7F8;
  input {
    background: #fff;
    border: 1px solid transparent;
    transition: border 0.2s ease-out;
    color: inherit;
    height: 56px;
    width: 100%;
    padding: 16px;
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
  }
  label {
    cursor: pointer;
    display: block;
    margin: 24px 0 8px 0;
    font-weight: 300;
    font-size: 16px;
  }
  textarea {
    padding: 16px;
    height: 150px;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 4px;
    resize: none;
    border: 1px solid transparent;
    transition: border 0.2s ease-out;
    outline: none;
    background-color: #fff;
  }
  .btn {
    max-width: 240px;
    height: 56px;
    width: 100%;
    padding: 16px;
    outline: 0;
    border: 2px solid #E44C6F;
    cursor: pointer;
    display: inline-block;
    transition: 200ms ease all;
    background: #E44C6F;
    color: #fff;
    border-radius: 4px;
    margin:0 auto;
    
  }
}

.center {
  text-align: center!important;
}

.services-interested {
  display: inline;
  white-space: nowrap;
  input {
    background-color: pink;
    height: 26px;
    padding: 16px;
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
    width: unset;
  }
}

// ロゴの背景色関係
.fb-blue {
  color: #4267b2
}

.google-blue {
  color: #4285f4
}