/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    font-family: Verdana, 'ヒラギノ角ゴ Pro W6';
}

.nav-link{
  color: white;
}

p {
  font-family: 'メイリオ';
}

.navbar {
  font-family: 'ヒラギノ角ゴ Pro W6';
}

h4 {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #09c9b5;
  white-space: nowrap;
}

h1 {
  white-space: nowrap;
}

p.right-calc {
    border-bottom: 1px solid #09c9b5;
}

.notification {
  position: fixed;
  top: 40px;
  right: 0;
  width: 30%;
  margin: 8px;
  padding: 16px;
  z-index: 999;
  background-color: transparent;
}
.alert {
  border-radius: 3px;
}
.alert h4 {
  font-weight: 600;
}
.alert .icon {
  margin-right: 10px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert a {
  color: #fff;
  text-decoration: underline;
}
.alert-success {
  border-color: #008d4c;
}
.alert-danger,
.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}
.select-payment-type{
  margin: 0 2em;
  display: none;
}
.terms_box{
  margin-top: 4em;
}
.thanks_box{
  border: double #09c9b5;
  padding: 3em;
}
.thanks_container{
  padding: 5em;
  a{
    margin: 2em 15em;
    display:block;
  }
}
.price-list{
  padding-left: 1em;
}

.mt-4 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-1 {
  margin-top: 1px;
}

.ml-1 {
  margin-left: 1px;
} 

ul {
  list-style: none;
}


#sticky-side-bar {
  padding-right: 0px;
  padding-left: 0px;
  background: #09c9b5 !Important; 
}

.form-check {
  white-space: nowrap;
}

.meocheki_options {
  display: none;
}

.bold {
  font-weight: bold;
}

.bg-meo {
  color: white;
  background-color: #0ac9b5!important;
}

.card-header h4{
  border-bottom: none;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  overflow: hidden;
}

.option-group label {
  padding:10px 0;
}

.option-group label input[type="checkbox"] + span {
  display: block;
  color: #0ac9b5;
  font-weight: normal;
  border: 1px solid #0ac9b5;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
}

.option-group label input[type="checkbox"]:checked + span{
  background-color: #0ac9b5;
  color: #FFF;
}

.option-group label input{
  position: absolute;
  opacity: 0;
}

.option-group label span:hover {
  cursor:pointer;
  background-color: #b3fcf3;
  color: white;
}

.wrap {
  white-space: pre!important;
}

dt {
  float: left ;
  clear: right ;
  margin-right: 0.5em ;
}

dd {
  float: right ;
}
ul#feature  {
  padding-left: 0 ;
  color: #0ac9b5;
}

.meo-theme-color {
  font-size: 3rem;
  color:#09c9b5;
  margin: 0rem 0.5rem;
}

.txt-center {
  text-align: center;
}

.option-group {
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

span .bold{
  font-weight: bold;
}

label.contact_form {
  font-size: 1rem;
}

// ロゴの背景色関係
.fb-blue {
  color: #4267b2
}

.google-blue {
  color: #4285f4
}