.pd1{
    padding: 1em;
}
.businesses-count{
    width: 5em;
    display: inline-block;
}
.multiple-chart{
    height: 10em;
}
.image{
    width: 60%;
    height: auto;
}
.simulate_table{
    margin: 5em 2em;
}