    td{
        text-align:center;
    }
    th{
        background-color: #CCFFFF;
    }
    .box-1{
        display: flex;
    }
    .box-left{
        float: left;
        margin-left: 2em;
    }
    .calc-about{
        margin-top: 5em;
        margin-bottom: 5em;
    }
    .box-right{
        margin-top: 3em;
        float: right;
    }
    .calc-price{
        margin-top: 2em;
        margin-bottom: 5em;
    }
