td{
    text-align:center;
}
th{
    background-color: #CCFFFF;
}
.box-1{
    display: flex;
}
.box-left{
    float: left;
    margin-left: 2em;
    width: 40%;
}
.calc-about{
    margin-top: 5em;
    margin-bottom: 5em;
}
.box-right{
    margin-top: 3em;
    float: right;
    width: 40%;
}
.calc-price{
    margin-top: 2em;
    margin-bottom: 5em;
}

.business-count-box{
    margin: 2em auto 2em auto;
}
.cost-tables{
    height: 6em;
}
.cost-box{
    float: left;
    width: 45%;
    height: auto;
}
.time-box{
    float: right;
    width: 45%;
    height: auto;
}

.reduce-box{
    height: 5em;
}
.cost-reduce{
    float: left;
    width: 50%;
    height: auto;
}
.time-reduce{
    float: right;
    width: 50%;
    height: auto;
}
.simulate_table{
    margin-top: 2em;
}
.cost-chart{
    float: left;
    width: 50%;
    height: auto;
}
#cost-chart-pdf{
    width: 90%;
    height: auto;
}
.time-chart{
    float: right;
    width: 50%;
    height: auto;
}
#time-chart-pdf{
    float: right;
    width: 90%;
    height: auto;
}
.chart-box{
    margin: 2em auto 0 auto;
    height: 15em;
}
.reduce-box{
    font-size: 2em;
    height: 3em;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    div > h3 > p{
        color: red;
        display: inline;
        height: 3em;
        font-size: 2.5em;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
        align-items: center; /* 縦方向中央揃え */
        -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
        justify-content: center; /* 横方向中央揃え */
    }
}
.header{
    height: 3em;
}