
<h5>以下の数値をもとに計算</h5>
<table class="col-md-8" border="1" style="border-collapse: collapse">
    <thead>
        <tr>
            <th class="text-center multiple-th">実作業項目</th>
            <th class="text-center multiple-th">工数</th>
            <th class="text-center multiple-th">月平均回数</th>
            <th class="text-center multiple-th">合計工数</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">写真投稿 1枚</td>
            <td class="text-center">3秒</td>
            <td class="text-center">10枚</td>
            <td class="text-center">30秒</td>
        </tr>
        <tr>
            <td class="text-center">営業時間編集 1店舗</td>
            <td class="text-center">10分</td>
            <td class="text-center">1回</td>
            <td class="text-center">10分</td>
        </tr>
        <tr>
            <td class="text-center">投稿</td>
            <td class="text-center">20分</td>
            <td class="text-center">8回</td>
            <td class="text-center">160分</td>
        </tr>
        <tr>
            <td class="text-center">メニュー1商品</td>
            <td class="text-center">10分</td>
            <td class="text-center">4回</td>
            <td class="text-center">40分</td>
        </tr>
        <tr>
            <td class="text-center" colSpan=3>合計</td>
            <td class="text-center">210分</td>
        </tr>
    </tbody>
</table>